.spot {
    height: 30px;
    width:30px;
    border: 2px solid black;
    display: block;
    float: left;
    box-sizing: border-box;
}
.cleared {
    background: lightblue;
    font-size: 20px;
    padding: 2px;
}
.mine {
    background: red;
}
#minesweeper {
    width: 900px;
    /*width: 240px;*/
}

.blue {
    color: blue
}
.orange {
    color: orange
}

.red {
    color: red
}

.hidden {
    display: none;
}
